@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Sintony:wght@400;700&display=swap');


:root {
  --color-Blue: rgb(38, 76, 115, 1);
  --color-Rose: rgba(255, 188, 179, 1);
  --color-Green: rgba(99, 209, 180, 1);
  --color-DarkGreen: rgb(76, 161, 139);

  --color-Ice-1: rgba(232, 234, 241, 1);
  --color-Ice-2: rgba(247, 247, 247 ,1);
  --color-Ice-3: rgba(239, 241, 247, 1);

  --color-White: rgb(255, 255, 255, 1);
  --color-Dark-1: rgba(63, 70, 80, 1);

}

/* ---------------------- gridlover.net ------------------------------------- */
/* ---------------------- gridlover.net ------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
.root {
  font-size: 14px;
  line-height: 18px;
}

body {
  font-family: 'Sintony', 'Asap', sans-serif;
  font-size: 1rem;
  line-height: 1.2857143rem;
  background-color: var(--color-Ice-1);
  position: relative;
}

h1, h2, h3, h4, h5, h6, p, span { line-height: 100%; margin-bottom: .3rem; }

h1, h2, h3, h4, h5, h6 { font-family: 'Asap', sans-serif; }

h1 { font-size: 2rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.25rem; }
h4, p, span { font-size: 1rem; }
h5 { font-size: .8rem; }
h6 { font-size: .5rem; }

/* ---------------------- gridlover.net ------------------------------------- */
/* -------------------------------------------------------------------------- */

.overlay {
  position: fixed;
  left: -100%;
  top: -100%;
  width: 10vw;
  height: 15vh;
  background-color: var(--color-Blue);
  color: #000;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 50%;
}

body.showOverlay .overlay { animation: showOverlay 2.5s ease-in-out forwards; transition: all 1s ease-in-out; }
body.hideOverlay .overlay { animation: hideOverlay 2.5s ease-in-out forwards; transition: all 1s ease-in-out; }
body.showOverlay { overflow: hidden !important; }

@keyframes showOverlay {
  0% {
    left: -100%;
    top: -100%;
    width: 10vw;
    height: 15vh;
  }
  100% {
    left: 0;
    top: 0;
    width: 150%;
    height: 150%;
  }
}

@keyframes hideOverlay {
  0% {
    left: 0;
    top: 0;
    width: 150%;
    height: 150%;
  }
  100% {
    left: -100%;
    top: -100%;
    width: 1vw;
    height: 1vh;
  }
}

.dNone {
  display: none !important;
}

.shadow-bottom { 
  box-shadow: 0px 10px 10px #c3c3c3; 
}

.shadow-bottom-right { 
  box-shadow: 5px 5px 10px #c3c3c3; 
}

.shadow-bottom:hover,
.shadow-bottom-right:hover { 
  /* transform: translateY(-5px);  */
  box-shadow: 5px 5px 10px #727272; 
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-color: var(--color-Blue);
  border-bottom-left-radius: 130px;
  color: var(--color-White);
  height: 250px;
}

.top-inner {
  height: 110px;
  display: flex;
  justify-content: space-between;
  padding: 0rem 2rem;
}

.top-inner .top-inner--left {
  display: flex;
  align-items: flex-end;
}

.top-inner .top-inner--middle,
.top-inner .top-inner--right {
  display: flex;
  align-items: center;
  position: relative;
}

.top-inner .top-inner--right .squareUser {
  background-color: var(--color-Ice-1);
  width: 35px;
  height: 35px;
  border-radius: 4px;
  margin-right: 10px;
}

.top-inner .top-inner--right .squareUser img {
  border-radius: 4px;
  width: 100%;
  height: auto;
}

.top-inner .top-inner--right .chevron-down {
  color: var(--color-Ice-1);
  font-size: 1.7rem;
  transform: rotate(90deg);
  cursor: pointer;
  display: inline-block;
  padding: 0 .5rem;
  margin: 0;
}

.top-inner--right .top-inner--right-div {
  position: absolute;
  width: 250px;
  height: 250px;
  background-color: var(--color-White);
  top: 90px;
  z-index: 99;
  right: -1px;
  border-radius: 8px;
  padding: .5rem;
  color: var(--color-Dark-1);
  transform: translateY(-20px);
  transition: all .3s ease-in-out;
  border: 1px solid #e2e2e2;
  visibility: hidden;
  opacity: 0;
}

.top-inner--right:hover 
.top-inner--right-div {
  opacity: 1;
  transform: translateY(-10px);
  visibility: visible;
}

.top-inner--right-div-inner {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 1rem;
}

.top-inner--right-div-inner hr {
  margin: 1rem 0 2rem 0; 
  background-color: #e2e2e2;
}

.top-inner--right-div-inner ul {
  margin: 1rem 0 0 2rem;
}

main {
  position: absolute;
  width: 100%;
  top: 120px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 0rem 2rem;
}

.cards .card {
  background-color: var(--color-White);
  border-radius: 20px;
  padding: 1rem 2rem;
  min-height: 160px;
  transition: all .3s ease-in-out;
}

.cards .card .titles {
  display: flex;
  justify-content: space-between;
}

.cards .card .titles p {
  font-size: .7rem;
  color: #a1a1a1;
}

.cards .card .titles h3 {
  margin-bottom: 15px;
  font-weight: 700;
}

.cards .card .text p {
  font-size: .8rem;
  margin-bottom: 20px;
  color: #a1a1a1;
}

.cards .card .ilustration img {
  width: 50px;
  padding: 5px;
  background-color: #f4f4f4;
  border-radius: 50%;
}

.cards .card .img {
  width: 35px;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border: 1px solid #f4f4f4;
}

.imgs {
  display: flex;
}

.imgs div {
  background-color: var(--color-Green);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease-in-out;
  cursor: default;
}

.imgs div:hover {
  background-color: var(--color-DarkGreen);
}

.imgs div span {
  font-size: .7rem;
  color: var(--color-White);
}

/*
  ---------------------------------------------------------------
NOVOS CÓDIGOS - INICIO 
*/

.divMain { 
  margin: 2rem 0 1rem 0;
  padding: 0rem 2rem;
  display: grid; 
  gap: 1rem; 
  grid-template-areas: 
  "main-card  main-calendar main-classes main-classes main-classes main-classes"
  "main-exams main-calendar main-classes main-classes main-classes main-classes"
  "main-exams main-calendar main-classes main-classes main-classes main-classes"
  "main-exams main-calendar main-statistics main-statistics main-statistics main-statistics";
}

.divMain .card,
.divMain .exams,
.divMain .calendar,
.divMain .your-classes,
.divMain .statistics {
  border: 1px solid;
  border-radius: 20px;
  min-height: 150px;
  padding: 1rem;
  background-color: var(--color-White);
  border: 1px solid var(--color-White);
  color: var(--color-Dark-1);
  transition: all .2s ease-in-out;
}
.divMain .exams {
  padding: 1rem 1.5rem;
}

.divMain .card { grid-area: main-card; padding: 1rem 2rem; }
.divMain .exams { grid-area: main-exams; max-height: 360px; }
.divMain .calendar { grid-area: main-calendar; max-height: 570px; }
.divMain .your-classes { grid-area: main-classes; }
.divMain .statistics { grid-area: main-statistics; }

.divMain .card .card-img-text .img,
.divMain .card .card-img-text .text {
  width: 100%; 
}

.divMain .card .card-img-text .img {
  text-align: right;  
}

.divMain .card .card-img-text .img img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: .5rem;
  background-color: var(--color-Ice-3);
}

.divMain .card .card-img-text .text .p1 {
  font-size: 4rem;
  font-weight: 600;
}

.divMain .card .card-img-text .text .p2 {
  font-size: .8rem;
  color: #a1a1a1;
}

.divMain .exams .exams-titles-img {
  padding-left: .5rem;
  padding-right: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divMain .exams .exams-titles-img .titles .p1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.divMain .exams .exams-titles-img .titles .p2 {
  font-size: .8rem;
  color: #a1a1a1;
}

.divMain .exams .exams-titles-img .img img {
  width: 60px;
  padding: 5px;
  background-color: var(--color-Ice-3);
  border-radius: 50%;
}

.divMain .exams .exams-items-button {
  margin-top: 1rem;
  width: 100%;
}

.divMain .exams .exams-items-button .item-titles-progress {
  padding: .5rem;
  border-bottom: 1px solid var(--color-Ice-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  transition: all .2s ease-in-out;
}

.divMain .exams .exams-items-button .item-titles-progress:hover {
  background-color: var(--color-Ice-1);
}

.divMain .exams .exams-items-button .item-titles-progress:hover .progress {
  transform: scale(1.2);
}

.divMain .exams .exams-items-button .item-titles-progress .titles .p1 {
  font-size: .9rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.divMain .exams .exams-items-button .item-titles-progress .titles .p2 {
  font-size: .7rem;
  color: #a1a1a1;
}

.divMain .exams .exams-items-button .item-titles-progress .progress .s1 {
  font-size: .8rem;
  font-weight: 600;
  color: gray;
}

.progress {
  width: 50px;
  height: 50px;
  border: 5px solid lightgray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all .2s ease-in-out;
}

.progress.progress25::after,
.progress.progress50::after,
.progress.progress75::after {
  content: '';
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top-color: var(--color-Green);
}

.progress.progress25::after {
  border-top-color: var(--color-Green);
}

.progress.progress50::after {
  border-top-color: var(--color-Green);
  border-right-color: var(--color-Green);
}

.progress.progress75::after {
  border-top-color: var(--color-Green);
  border-right-color: var(--color-Green);
  border-bottom-color: var(--color-Green);
}

.exams-items-button .button {
  text-align: center;
  padding: 0 .5rem;
}

.exams-items-button .btn {
  margin-top: 15px;
  background-color: var(--color-Green);
  border: 1px solid var(--color-Green);
  color: var(--color-White);
  padding: .5rem 2rem;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.exams-items-button .btn:hover {
  background-color: var(--color-DarkGreen);
  border-color: var(--color-DarkGreen);
}

.calendar .calendar-titles-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 0 1rem;
  margin-bottom: 40px;
}

.calendar .calendar-titles-select .p1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.calendar .calendar-titles-select .p2 {
  font-size: 0.8rem;
  color: #a1a1a1;
}

.calendar .calendar-titles-select .select {
  background-color: var(--color-Ice-3);
  padding: .2rem 1rem;
  border-radius: 20px;
  width: 100px;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
}

.calendar .calendar-titles-select .select:focus-visible {
  outline: transparent;
}

.calendar .calendar-titles-select .select .s1 {
  font-size: .9rem;
}

.calendar .calendar-titles-select .select .s2 {
  transform: rotate(90deg);
}

.calendar .calendar-hourAssistant-event {
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding-top: 10px;
}

.calendar-hourAssistant-event .hourAssistant {
  position: absolute;
  width: 85%;
  left: 58px;
  top: 20%;
  height: 20px;
  z-index: 1;
  animation: hour-assistant 5s infinite linear;
}

.hourAssistant.pauseAnimation {
  animation-play-state: paused !important;
}

.calendar-hourAssistant-event .hourAssistant .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  border-radius: 50%;
}

.calendar-hourAssistant-event .hourAssistant .inner .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color-Dark-1);
}

.calendar-hourAssistant-event .hourAssistant .inner::after {
  position: absolute;
  content: '';
  top: 8px;
  left: 20px;
  width: 100%;
  height: 1px;
  border-bottom: 2px dashed #e2e2e2;
}

.calendar-hourAssistant-event .event {
  margin-bottom: 20px;
  color: #a1a1a1;
  padding: 0 1rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 80px;
  transition: all .2s ease-in-out;
}

.calendar-hourAssistant-event .event:first-child {  
  margin-top: 40px;
}
.calendar-hourAssistant-event .event .hour {
  width: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 5px 0;
  margin-right: 15px;
  text-align: right;
  transition: all .3s ease-in-out;
}

.calendar-hourAssistant-event .event .hour p {
  font-size: .8rem;
}

.calendar-hourAssistant-event .event .details {
  flex: 1;
  padding-left: 2rem;
  position: relative;
  height: 100%;
}

.calendar-hourAssistant-event .event .details::after {
  position: absolute;
  content: '';
  width: 5px;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
}

.calendar-hourAssistant-event .event.disabled .details::after {
  background-color: var(--color-Ice-3);
}

.calendar-hourAssistant-event .event.active .details::after {
  background-color: var(--color-Green) !important;
}

.calendar-hourAssistant-event .event .details .inner {
  display: flex;
  align-items: center;
  padding: .5rem 0 .5rem 1rem;
  border-radius: 8px;
  height: inherit;
  transition: all .3s ease-in-out;
}

.calendar-hourAssistant-event .event.disabled .details .inner {
  background-color: var(--color-Ice-2);
}

.calendar-hourAssistant-event .event.active .details .inner {
  background-color: var(--color-Ice-3);
}

.calendar-hourAssistant-event .event .details .inner img {
  width: 40px;
  padding: 5px;
  background-color: #f4f4f4;
  border-radius: 50%;
  margin-right: 10px;
  transition: all .3s ease-in-out;
}

.calendar-hourAssistant-event .event:hover .hour {
  padding: 15px 0;
}

.calendar-hourAssistant-event .event:hover .details .inner {
  transform: translateX(-1rem);
}

.calendar-hourAssistant-event .event .details .inner .texts .p1 {
  font-weight: 600;
  margin-bottom: 5px;
}

.calendar-hourAssistant-event .event.active .details .inner .texts .p1 {
  color: var(--color-Dark-1);
}

.calendar-hourAssistant-event .event .details .inner .texts .p2 {
  font-weight: 600;
  font-size: .8rem;
  color: #c0c0c0;
}

.calendar .optionCanAnimate {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.calendar .optionCanAnimate .divCheck {
  border: 1px solid #c0c0c0;
  color: var(--color-White);
  padding: 0px 5px;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

.calendar .optionCanAnimate .divCheck span {
  transform: rotate(135deg);
  position: absolute;
  top: -20px;
  left: 5px;
  transition: all .2s ease-in-out;
}

.calendar .optionCanAnimate .lCanAnimate {
  font-size: .7rem;
  color: #c0c0c0;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 10px;
  transition: all .4s ease-in-out;
}

.calendar .optionCanAnimate.active .divCheck {
  border: 1px solid var(--color-Green);
  background-color: var(--color-Green);
}

.calendar .optionCanAnimate.active .divCheck span {
  top: -3px;
}

.calendar .optionCanAnimate.active .lCanAnimate {
  color: var(--color-Green);
}

.your-classes .titles-classes .titles { 
  padding: 0 1rem; 
  margin-bottom: 40px; 
}

.your-classes .titles-classes .titles .p1 { 
  font-size: 1.2rem; 
  font-weight: 600; 
}

.your-classes .titles-classes .titles .p2 { 
  font-size: .8rem; 
  color: #a1a1a1; 
}

.your-classes .titles-classes .classes {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 1rem;
}

.your-classes .titles-classes .classes .class-img-title {
  padding: 1rem;
  border-radius: 20px;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.your-classes .titles-classes .classes .class-img-title .img {
  text-align: right;
}

.your-classes .titles-classes .classes .class-img-title .img img {
  width: 60px;
  padding: 10px;
  background-color: #00000013;
  border-radius: 50%;
  transition: all .2s ease-in-out;
}

.your-classes .titles-classes .classes .class-img-title:hover .img img {
  width: 90px;
}

.your-classes .titles-classes .classes .class-img-title .title span {
  display: block;
  font-weight: 600;
  color: var(--color-White);
  transition: all .2s ease-in-out;
}

.class-img-title.bg-green {
  border: 1px solid var(--color-Green);
  background-color: var(--color-Green);
}

.class-img-title.bg-blue {
  border: 1px solid var(--color-Blue);
  background-color: var(--color-Blue);
}

.class-img-title.bg-rose {
  border: 1px solid var(--color-Rose);
  background-color: var(--color-Rose);
}

.statistics .titles-checks {
   padding: 0 1rem; 
   margin-bottom: 40px;
   display: flex;
   align-items: center;
  }

.statistics .titles-checks .titles .p1 { 
  font-size: 1.5rem;
  font-weight: 600; 
}

.statistics .titles-checks .checks {
  margin-left: 2.5rem;
  display: flex;
  align-items: center;
}

.statistics .titles-checks .checks .title { 
  font-size: .8rem;
  font-weight: 600;
  margin-left: .4rem;
  color: #a1a1a1; 
}

.statistics .titles-checks .checks .div-ck-1 {
  margin-right: 2rem;
}

.div-ck-1,
.div-ck-2 {
  display: flex;
  align-items: center;
  cursor: pointer;
}

  .div-ck-1 .square,
  .div-ck-2 .square {
  width: 14px;
  height: 14px;
  border: 1px solid;
  border-radius: 2px;
  display: inline-block;
}

.div-ck-1 .square {
  background-color: var(--color-Green);
  border: 1px solid var(--color-Green);
}

.div-ck-2 .square {
  background-color: var(--color-Ice-1);
  border: 1px solid var(--color-Ice-1);
}

/* 
  NOVOS CÓDIGOS - FIM
  ---------------------------------------------------------------
  ANIMATIONS - BEGIN 
*/

@keyframes hour-assistant {
  0%,
  100% { top: 20%; }
  20% { top: 0%; }
  50% { top: 93%; }
}

/* 
  ANIMATIONS - END
  ---------------------------------------------------------------
  BREAKPOINTS - BEGIN
*/

@media (max-width: 1199.98px) {
  .divMain {
    grid-template-areas: 
    "main-card main-calendar main-calendar main-calendar"
    "main-exams main-calendar main-calendar main-calendar"
    "main-classes main-classes main-statistics main-statistics";
  }  
  .your-classes .titles-classes .classes {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
  .cards {
    grid-template-columns: 100%;
  }

  .divMain {
    grid-template-areas: 
    "main-card"
    "main-exams"
    "main-calendar"
    "main-classes"
    "main-statistics";
  }

  h1 { font-size: 1.3rem; }
}

@media (max-width: 599.99px) {
  .cards,
  .divMain {
    padding: 0rem 1rem;
  }

  .statistics .titles-checks {
   margin-bottom: 10px;
   align-items: initial;
   flex-direction: column;
  }

  .statistics .titles-checks .checks {
    justify-content: center;
    margin-top: .5rem;
  }
}

/* 
  BREAKPOINTS - END
  ---------------------------------------------------------------
*/