:root {
  --color-Blue: rgb(38, 76, 115, 1);
  --color-Rose: rgba(255, 188, 179, 1);
  --color-Green: rgba(99, 209, 180, 1);

  --color-Ice-1: rgba(246, 247, 251 ,1);
  --color-Ice-2: rgba(251, 252, 254 ,1);

  --color-White: rgb(255, 255, 255, 1);
  --color-Dark-1: rgba(63, 70, 80, 1);

}

/* ----------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

/* ----------------------------------------------------------- */

body {
	/* body css */
}

/* ----------------------------------------------------------- */

header {
	/* header css */
}

/* ----------------------------------------------------------- */

main {
	/* main css */
}

/* ----------------------------------------------------------- */

footer {
	/* footer css */
}

/* ----------------------------------------------------------- */

/* BREAKPOINTS - Begin */
/* BREAKPOINTS - End */