:root {
  --color-one: #123456;
}

/* ----------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

/* ----------------------------------------------------------- */

body {
	/* body css */
}

/* ----------------------------------------------------------- */

header {
	/* header css */
}

/* ----------------------------------------------------------- */

main {
	/* main css */
}

/* ----------------------------------------------------------- */

footer {
	/* footer css */
}

/* ----------------------------------------------------------- */

/* BREAKPOINTS - Begin */
/* BREAKPOINTS - End */